@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    z-index: 21;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 22;
}

.big-title{
    position: absolute;
    z-index: 23;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

.content{
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}

.navbar{
    z-index: 24;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #011627;
    transition: width 200ms ease;
}

.navbar-nav {
    z-index: 24;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar:hover {
    z-index: 24;
    width: 16rem;
}

.navbar:hover .link-text {
    z-index: 24;
    display: block;
}

.nav-item {
    z-index: 24;
    width: 100%;
}

.nav-item:last-child {
    z-index: 24;
    margin-top: auto;
}

.nav-link {
    z-index: 24;
    display: flex;
    align-items: center;
    height: 5rem;
    color: gray;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #011627;
    color: #ececec;
}

.link-text {
    z-index: 24;
    display: none;
    margin-left: 0 1.5rem;
}

.nav-link svg {
    z-index: 24;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.youtube {
    color: #FF0000;
}

.github {
    color: #f5f5f5;
}

.discord {
    color: #7289DA;
}

.plane {
    color: #ff7eee;
}

.code {
    color: #0095ff;
}

.youtube,
.github,
.discord,
.plane,
.code {
    transition: 600ms;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #ececec;
    background: #011627;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 80%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform 600ms;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar::before {
        width: 56rem;
    }
    
    .navbar:hover {
        width: 56rem;
        display: flex;
    }
    
    .navbar:hover .link-text {
        display: none;
        position: fixed;
    }
    
    .navbar:hover .logo svg
    {
        margin-left: 11rem;
        position: fixed;
    }
    
    .navbar:hover .logo-text
    {
        left: 0px;
        display: none;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    
    .logo {
        display: none;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    
    .nav-link {
        justify-content: center;
    }
    
    main {
        margin: 0;
    }
}